<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main id="sortable">

        <!-- space for strawberry -->
            <section class="ui-state-default">
                <div>
                    <details open>
                        <form method = "post" action = "/addStock">
                        
                            <summary><h3> <%= output.companyName %> </br> Ticker: <%= output.symbol%></br>Current Price: <%= output.current_price %></h3></summary>
                            <iframe src='https://wallmine.com/widgets/chart/<%=output.symbol%>' async frameborder='0' allowtransparency='true' scrolling='no' style='width: 100%; height: 450px'></iframe>
                            <p> Sentiment Score: <%= output.sentimentResult %> <br> Stock Score (1-10, 10 being the Best Score Possible): <%= output.stockScore.toFixed(2) %> <br> Industry: <%= output.sector %></p>
                            
                            <input type="hidden" name="companyName" value="<%= output.companyName %>">
                            <input type="hidden" name="symbol" value="<%= output.symbol %>">
                            <input type="hidden" name="current_price" value="<%= output.current_price %>">
                            <input type="hidden" name="sentimentResult" value="<%= output.sentimentResult%>">
                            <input type="hidden" name="sector" value="<%= output.sector %>">

                            <button>Add to Watchlist</button> 
                        </form>
                    </details>
                </div>
            </section>
<!-- space for strawberry -->

    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</html>
