<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main id="sortable">

        <% output.forEach(object=>{ %>
            <section class="ui-state-default">
                <div>
                    <details>

                        <form method = "post" action = "/searches">

                            <input type="hidden" name= <%= output.symbol %>
                            <button type = "submit"> <%= object.companyname %> : <%= object.symbol %> </button>
                    
                        </form>
                    </details>
                </div>
            </section>
        <% }) %>

    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</html>