
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/head') %>
    </head>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main id="sortable">

        <% output.forEach(object=>{ %>
            <section class="ui-state-default radioParams">
                <div>
                        <form method = "post" action = "/searches">
                            <input type="hidden" value="<%= object.symbol %>" name="symbol" >
                            <!-- <p> P TAG: <%= object.symbol %></p> -->
                            <button type = "submit"> <%= object.companyname %> </br> Ticker symbol: <%= object.symbol %> </button>
                    
                        </form>
                </div>
            </section>
        <% }) %>

    </main>
    <footer>
        <%- include('../layouts/footer') %>
    </footer>
</html>